@import "ug";

$grid-debug: true;

$settings-colors-darkgray: #333;
$settings-colors-lessdarkergray: #444;
$settings-colors-lightgray: #eee;
$settings-colors-pink: rgb(236, 121, 167);
$settings-colors-blue: rgb(121, 167, 236);

@if $grid-debug { body { color: #333; }}

@include unitgs-set-grid-settings(
    $number-of-columns: 25,
    $number-of-active-columns: 24,
    $font-size: 1,
    $line-height: 1.5,
    $gutter-width: 1
    );

@include unitgs-init-grid();

#measure {
    max-width: 60em;
    margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
    background-color: #fef;
}

header      { @include grid-unit($font-size: 1.5, $margin-top: 1, $margin-bottom: 1); }
#sectionA   { @include grid-unit($margin-bottom: 1); }
#sectionB   { @include grid-unit(); }
footer      { @include grid-unit($font-size: 0.8, $margin-top: 1, $margin-bottom: 1); }

#sectionB {
    font-family: Georgia;
    font-style: italic;
    max-width: 15rem;
}

header {
    text-align: center;
}

nav { 
    @include grid-unit($margin-bottom: 1);
    a {
        display: block;
    }

}

nav {
	a {
		color: #333;
		font-weight: 800;
		text-transform: uppercase;
		text-decoration: none;
	}
	a:visited { color: $settings-colors-lightgray; }
	a:hover { color: $settings-colors-blue; }
	a.current { background-color: $settings-colors-pink; }
	a:hover.current { color: $settings-colors-lightgray; }
}

p {
	font-feature-settings: liga 1;
}

// 480
@media screen and (min-width: 30em) {
    header { @include grid-line($font-size: 2.5, $margin-top: 1/2, $margin-bottom: 1/2); }
}

// 640
@media screen and (min-width: 40em) {
    nav a {
        display: inline;
        padding: 0 1em 0 0;
        @include grid-line($font-size: 1);
    }
}
	
// 720
@media screen and (min-width: 45em) {
    #sectionA   { @include grid-unit(1/2, $margin-bottom: 0); }
    #sectionB   { @include grid-unit(1/2, last); }
}

// 960
@media screen and (min-width: 60em) {
    @include unitgs-set-grid-scale(1.2);
}

* { transition: all 0.5s; }
