extends layout
block content

	h1 Gulp & Jade and 
		a(href='matt.html') matt
	p Using livereload and gulp-webserver

	a(href='lyrics.html') lyrics

	p Hunter S. Thompson ordering more <i>cerveza</i>
	img(src='statics/hst.jpg')



