doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Canonical

    link(rel='stylesheet', href='./css/normalize.css')
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='./css/custom.css')

  body

    h1 Gulp & Jade and
        a(href='hunter.html') hunter
    p Using livereload and gulp-webserver

    a(href='lyrics.html') lyrics





