extends partials/layout
block content

    include partials/hero.jade
    
    p Hunter S. Thompson ordering more beer.
    img.sizeDown(src='statics/hst.jpg')
    
    include partials/news.jade
    include partials/sidebar.jade
